<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="https://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  https://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd">
 

   
    
   <bean class="com.springcore.lifecycle.Car" name="car1" init-method="init" destroy-method="destroy">
     <property name="price" value="100000" />
     <property name="color" value="Black" />
     <property name="company" value="Maruti" />
   </bean>
   
    <bean class="com.springcore.lifecycle.Food" name="food1">
     <property name="name" value="pepsi" />
     <property name="type" value="drink" />
     <property name="price" value="45" />
   </bean>
   
    <bean class="com.springcore.lifecycle.Exam" name="exam1">
     <property name="subject" value="physics" />
     <property name="mark" value="100" />
   </bean>
   
   <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
</beans>