<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    
    <context:annotation-config />
   
   <bean class="com.springcore.autowire.annotation.Address" name="address">
     <property  name="street" value="abc park"/>
     <property  name="city" value="Abc"/>
     <property  name="pincode" value="123456"/>
   </bean>
   
   <bean class="com.springcore.autowire.annotation.Address" name="address2">
     <property  name="street" value="edf park"/>
     <property  name="city" value="Efg"/>
     <property  name="pincode" value="654321"/>
   </bean>

   
    <bean class="com.springcore.autowire.annotation.Employee" name="employee" autowire="byName"/>
    
    
</beans>





