<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="https://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd
  https://www.springframework.org/schema/context
  https://www.springframework.org/schema/context/spring-context.xsd"
 >
   <bean name="employee1" class="com.spring.collection.Employee">
     <property name="EmployeeName" value="Sibashish" />
     <property name="phones">
       <list>
         <value>8837434508</value>
         <value>9402322729</value>
         <value>8787512240</value>
       </list>
     </property>
      <property name="address">
       <set>
         <value>bangalore</value>
         <value>kailashahr</value>
         <value>silchar</value>
       </set>
     </property>
       <property name="courses">
       <map>
         <entry key="java" value="two months" />
         <entry key="python" value="one months" />
       </map>
     </property>
     
     
   </bean>
   
   
</beans>